* {
    margin: 0;
    padding: 0;
    color: rgb(212, 175, 55);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.zigzag {
  margin-top: 15%;
  width:100vw;
  height:30px;
  background: 
linear-gradient(45deg, rgba(212, 175, 55, 0.6) 10%, transparent 10%) 0 -50px,
linear-gradient(135deg, rgba(212, 175, 55, 0.6) 10%, transparent 10%) 0  -50px,
linear-gradient(225deg, rgba(212, 175, 55, 0.6) 15%, transparent 15%),
linear-gradient(315deg, rgba(212, 175, 55, 0.6) 15%, transparent 15%);	
background-size: 100px 100px;
background-color: black;
}


/* light, medium, dark gold */
/* rgb(212, 160, 55) */
/* rgb(133,109,34) */
/* rgb(159,131,41) */

/* *********************************** */
/* Tablet */

/* @media (min-width: 501px) and (max-width: 900px) {
}  */

/* *********************************** */
/* Mobile */

/* @media (max-width: 500px) {
} */