.Feat {
  padding-top: 12%;
  width: 100%;
  display: inline-grid;

  grid-template-columns:
    [col-1-start]8%
    [col-1-end col-2-start]8%
    [col-2-end col-3-start]8%
    [col-3-end col-4-start]8%
    [col-4-end col-5-start]2%
    [col-5-end col-6-start]auto
    [col-6-end col-7-start]2%
    [col-7-end col-8-start]8%
    [col-8-end col-9-start]8%
    [col-9-end col-10-start]8%
    [col-10-end col-11-start]8%
    [col-11-end];
  height: 12em;

  grid-template-rows:
    [row-1-start]1fr
    [row-1-end row-2-start]1fr
    [row-2-end row-3-start]1fr minmax(50px, 25px)
    [row-3-end];
  font-size: 3.2rem;
}

.FeatPic {
  grid-column-start: col-6-start;
  grid-column-end: col-7-end;
  grid-row-start: row-1-start;
  grid-row-end: row-3-end;
  background-image: url("../images/joshPF.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.FeatGreet {
  grid-column-start: col-5-start;
  grid-column-end: col-6-start;
  grid-row-start: row-3-start;
  color: white;
  align-self: end;
  text-align: left;
}

.FeatGreet::selection {
  background: rgb(212, 160, 55);
  color: black;
}

.FancyText1 {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.FancyText1::selection,
.FancyText2::selection {
  background: rgba(255, 255, 255, 0.404);
  color: white;
}

.FancyText2 {
  background: -webkit-linear-gradient(
    right,
    rgb(58, 56, 58),
    rgb(85, 85, 109),
    rgb(121, 60, 179)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* *********************************** */
/* Tablet */

@media (min-width: 501px) and (max-width: 1100px) {
  .Feat {
    background-color: black;
    width: 100%;
    display: inline-grid;
    padding-top: 5%;
    margin-top: 5%;

    grid-template-columns:
      [col-1-start]10%
      [col-1-end col-2-start]10%
      [col-2-end col-3-start]10%
      [col-3-end col-4-start]10%
      [col-4-end col-5-start]10%
      [col-4-end col-5-start]10%
      [col-5-end col-6-start]10%
      [col-6-end col-7-start]10%
      [col-7-end col-8-start]10%
      [col-8-end col-9-start]10%
      [col-9-end];
    height: 60em;

    grid-template-rows:
      [row-1-start]1fr
      [row-1-end row-2-start]1fr
      [row-2-end row-3-start]1fr
      [row-3-end];
    font-size: 50%;
  }

  .FeatPic {
    grid-column-start: col-4-start;
    grid-column-end: col-7-end;
    grid-row-start: row-1-start;
    grid-row-end: row-4-end;
    background-image: url("../images/joshPF.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .FeatGreet {
    grid-column-start: col-2-end;
    grid-column-end: col-3-end;
    grid-row-start: row-3-start;
    color: white;
    font-size: calc(4.4em + 1vw);
    text-align: right;
  }
}

/* *********************************** */
/* Mobile */

@media (max-width: 500px) {
  .Feat {
    background-color: black;
    width: 100%;
    display: inline-grid;
    margin-bottom: 2%;

    grid-template-columns:
      [col-1-start]10%
      [col-1-end col-2-start]1fr
      [col-2-end col-3-start]10%
      [col-3-end];

    grid-template-rows:
      [row-1-start]10%
      [row-1-end row-2-start]1fr
      [row-2-end row-3-start]10%
      [row-3-end];

    min-height: 25rem;
    font-size: 50%;
  }

  .FeatPic {
    grid-column-start: col-2-start;
    grid-column-end: col-2-end;
    grid-row-start: row-2-start;
    grid-row-end: row-4-end;
    background-image: url("../images/joshPF.png");
    margin: 5%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 20rem;
  }

  .FeatGreet {
    grid-column-start: col-1-start;
    grid-column-end: col-1-end;
    grid-row-end: row-1-end;
    color: white;
    font-size: calc(2.8em + 1vw);
    -webkit-margin-bottom-collapse: collapse;
    text-align: right;
    margin-left: 18%;
  }
}
