.HiContainer {
    display: inline-grid;
    grid-template-columns: 
    [col-1-end col-2-start]35%
    [col-2-end col-3-start]65%
    [col-3-end];;

    padding-top: 10%;
    width: 100%;
}

#Hello {

}

h1 {
    text-align: end;
    font-size: 8rem;
    padding: 11%;
}

.HiForm {
    width: 80%;
    font-size: 2.1rem;
    border-radius: 15px;
    margin: 8%;
    padding: 2%;
}

input {
    border: 2px solid rgb(212, 160, 55);
    background-color: rgba(212, 160, 55, 0.534);
    height: 5vh;
    min-height: 30px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

input::placeholder {
    color: rgb(212, 160, 55);
}

#name {
    width: 45%;
}

#email {
    width: 45%;
}

#message {
    border: 2px solid rgb(212, 160, 55);
    background-color: rgba(212, 160, 55, 0.534);
    font-size: 1.2rem;
    width: 90%;
    height: 15vh;
    min-height: 100px;
    margin-top: 6px;
}

#message::placeholder {
    color: rgb(212, 160, 55);
}

#hiButton {
    background-color: rgba(212, 160, 55, 0.534);
    width: 22.5%;
    height: 5vh;
    min-height: 40px;
    border: none;
    color: rgb(212, 160, 55);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;

}

#hiButton:focus {
    border: none;
}

input:focus {
  border: none;
}

@media (max-width: 750px) {
    .HiContainer {
    display: inline-block;
    grid-template-rows: 
    [row-1-end row-2-start]20%
    [row-2-end row-3-start]80%
    [row-3-end];;

    padding-top: 5%;
    width: 100%;
}

#Hello {
    grid-row-start: row-1-start;
    grid-row-end: row-1-end;
}

.HiForm {
    width: 80%;
    font-size: 2.1rem;
    border-radius: 15px;
    grid-row-start: row-2-start;
    grid-row-end: row-2-end;
}

h1 {
    text-align: center;
    font-size: 6rem;
}

input {
    border: 2px solid rgb(212, 160, 55);
    background-color: rgba(212, 160, 55, 0.534);
    height: 5vh;
    /* margin: 8px 0; */
    /* box-sizing: border-box; */
    font-size: 1.2rem;
}

#hiButton {
    margin-top: 2%;
    width: 25.5%;
    height: 6vh;
}

}