/* rgb(212, 160, 55) */
/* rgb(133,109,34) */
/* rgb(159,131,41) */



.Intro {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

}

.Plate {
    background: rgb(212, 175, 55);
    /* height: 65%; */
    width: 80%;
    /* color: black; */
    font-size: 2.1rem;
    /* transition: 0.3s; */
    border-radius: 15px;
    margin: 8%;
    /* border: 11px solid rgb(159,131,41); */
    background: -webkit-linear-gradient(left top, rgb(248, 208, 170), rgb(212, 160, 55), rgb(133,109,34));
    /* background-clip: padding-box; */
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 1.3;
    padding: 2%;
    
}

/* *********************************** */
/* Tablet */

@media (min-width: 501px) and (max-width: 900px) {
    .Plate {
        background: rgb(212, 175, 55);
        /* height: 65%; */
        width: 80%;
        color: black;
        font-size: 1.7rem;
        transition: 0.3s;
        border-radius: 13px; 
        margin: 8%;
        /* border: 10px solid rgb(159,131,41); */
        background: -webkit-linear-gradient(left top, rgb(248, 208, 170), rgb(212, 160, 55), rgb(133,109,34));
        /* -webkit-background-clip: text; */
        -webkit-text-fill-color: transparent;
        text-align: center;
        line-height: 1.3;
        padding: 2%;
    }
}

/* *********************************** */
/* Mobile */

@media (max-width: 500px) {
    .Plate {
        background: rgb(212, 175, 55);
        /* height: 65%; */
        width: 80%;
        color: black;
        font-size: 1.7rem;
        transition: 0.3s;
        border-radius: 13px; 
        margin: 8%;
        /* border: 5px solid rgb(159,131,41); */
        background: -webkit-linear-gradient(left top, rgb(248, 208, 170), rgb(212, 160, 55), rgb(133,109,34));
        /* -webkit-background-clip: inherit; */
        -webkit-text-fill-color: transparent;
        text-align: center;
        line-height: 1.3;
        padding: 3%;
    }
}