.Nav {
  border-bottom: 1px solid rgb(212, 175, 75);
  display: inline-grid;
  background-color: rgba(0, 0, 0, 0.68);
  width: 100%;
  padding-left: 10px;
  padding-right: 5px;
  grid-template-columns:
    [col-1-start]15%
    [col-1-end col-2-start]10%
    [col-2-end col-3-start]10%
    [col-3-end col-4-start]auto
    [col-4-end col-5-start]10%
    [col-5-end col-6-start]10%
    [col-6-end col-7-start]15%
    [col-7-end];
  align-items: center;
  min-height: 5rem;
  position: fixed;
}



.NavMe {
  height: 55%;
  border-radius: 10px;
  text-align: center;
  padding: 3%;
  cursor: pointer;
    margin: 2%;
}

.NavRW {
  height: 55%;
  grid-column: col-2-end;
  text-align: center;
  border-radius: 10px;
  padding: 3%;
  cursor: pointer;
    margin: 2%;
}

.NavHi {
  height: 55%;
  grid-column: col-6-end;
  text-align: center;
  border-radius: 10px;
  padding: 3%;
  cursor: pointer;
  margin: 2%;
}

.NavBlog {
  height: 55%;
  grid-column: col-4-end;
  border-radius: 10px;
  text-align: center;
  padding: 3%;
  cursor: pointer;
    margin: 2%;
}

.NavBlog:hover {
  color: blueviolet;
  border: 1px solid blueviolet;
}

.NavMe:hover {
  color: blueviolet;
  border: 1px solid blueviolet;
}

.NavRW:hover {
  color: blueviolet;
  border: 1px solid blueviolet;
}

.NavHi:hover {
  color: blueviolet;
  border: 1px solid blueviolet;
}

/* *********************************** */
/* SWITCH */
.switch {
  grid-column: col-3-end;
  justify-self: center;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  border: 1px solid blueviolet;
  background: linear-gradient(to bottom right, gold, blueviolet);
  /* -webkit-background-clip: inherit; */
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: pink;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* *********************************** */
/* Mobile */

@media (max-width: 775px) {
  .Nav {
    border-bottom: 1px solid rgb(212, 175, 75);
    display: flex;
    background-color: rgba(0, 0, 0, 0.88);
    width: 100%;
    justify-content: space-between;
    min-height: 4rem;
    position: fixed;
  }
}
